-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: maai_db
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `announcement_reads`
--

DROP TABLE IF EXISTS `announcement_reads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `announcement_reads` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `announcement_id` int unsigned NOT NULL,
  `user_id` int unsigned NOT NULL,
  `read_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `announcement_reads_unique` (`announcement_id`,`user_id`),
  KEY `announcement_reads_user_lookup` (`user_id`,`read_at`),
  CONSTRAINT `announcement_reads_announcement_fk` FOREIGN KEY (`announcement_id`) REFERENCES `announcements` (`id`) ON DELETE CASCADE,
  CONSTRAINT `announcement_reads_user_fk` FOREIGN KEY (`user_id`) REFERENCES `volunteers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `announcement_reads`
--

LOCK TABLES `announcement_reads` WRITE;
/*!40000 ALTER TABLE `announcement_reads` DISABLE KEYS */;
INSERT INTO `announcement_reads` VALUES (1,3,3,'2026-05-21 07:42:51','2026-05-21 07:42:51');
/*!40000 ALTER TABLE `announcement_reads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `announcements`
--

DROP TABLE IF EXISTS `announcements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `announcements` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(220) NOT NULL,
  `body` text,
  `audience` enum('volunteers','ngos','all','admins','event_participants') NOT NULL DEFAULT 'all',
  `send_email` tinyint(1) NOT NULL DEFAULT '0',
  `created_by` int unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `message` text NOT NULL,
  `announcement_type` enum('general','membership','event','camp','certificate','system') NOT NULL DEFAULT 'general',
  `priority` enum('info','important','urgent') NOT NULL DEFAULT 'info',
  `publish_at` timestamp NULL DEFAULT NULL,
  `expire_at` timestamp NULL DEFAULT NULL,
  `status` enum('draft','published','archived') NOT NULL DEFAULT 'draft',
  `event_id` int unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `announcements_audience_created` (`audience`,`created_at`),
  KEY `announcements_created_by_fk` (`created_by`),
  KEY `announcements_event_lookup` (`event_id`,`audience`,`status`),
  CONSTRAINT `announcements_created_by_fk` FOREIGN KEY (`created_by`) REFERENCES `volunteers` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `announcements`
--

LOCK TABLES `announcements` WRITE;
/*!40000 ALTER TABLE `announcements` DISABLE KEYS */;
/*!40000 ALTER TABLE `announcements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_logs` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `actor_id` int unsigned DEFAULT NULL,
  `action` varchar(180) NOT NULL,
  `entity_type` varchar(120) NOT NULL,
  `entity_id` varchar(120) DEFAULT NULL,
  `metadata_json` json DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `audit_logs_actor_lookup` (`actor_id`,`created_at`),
  KEY `audit_logs_entity_lookup` (`entity_type`,`entity_id`,`created_at`),
  CONSTRAINT `audit_logs_actor_fk` FOREIGN KEY (`actor_id`) REFERENCES `volunteers` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=78 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `camp_registrations`
--

DROP TABLE IF EXISTS `camp_registrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `camp_registrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `full_name` varchar(180) NOT NULL,
  `email` varchar(180) NOT NULL,
  `whatsapp` varchar(40) NOT NULL,
  `organization_name` varchar(180) NOT NULL,
  `organization_type` varchar(120) NOT NULL,
  `website` text,
  `camp_title` varchar(220) NOT NULL,
  `camp_type` varchar(140) NOT NULL,
  `location` varchar(220) NOT NULL,
  `beneficiaries` varchar(120) NOT NULL,
  `proposed_date` date NOT NULL,
  `description` text NOT NULL,
  `additional_notes` text,
  `status` enum('pending','reviewed','approved','rejected','contacted') NOT NULL DEFAULT 'pending',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `camp_registrations_admin_sort` (`status`,`proposed_date`,`created_at`),
  KEY `camp_registrations_search` (`full_name`,`organization_name`,`camp_title`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `camp_registrations`
--

LOCK TABLES `camp_registrations` WRITE;
/*!40000 ALTER TABLE `camp_registrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `camp_registrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `camp_requests`
--

DROP TABLE IF EXISTS `camp_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `camp_requests` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `volunteer_id` int unsigned DEFAULT NULL,
  `camp_name` varchar(180) NOT NULL,
  `location` varchar(220) NOT NULL,
  `camp_type` enum('health','awareness','screening','research','education','community','other') NOT NULL DEFAULT 'other',
  `beneficiaries` varchar(120) NOT NULL,
  `description` text NOT NULL,
  `status` enum('submitted','under_review','approved','rejected','completed') NOT NULL DEFAULT 'submitted',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `ngo_id` int unsigned DEFAULT NULL,
  `title` varchar(220) DEFAULT NULL,
  `city` varchar(120) DEFAULT NULL,
  `state` varchar(120) DEFAULT NULL,
  `expected_beneficiaries` int DEFAULT NULL,
  `volunteers_required` int DEFAULT NULL,
  `resources_needed` text,
  `proposed_date` date DEFAULT NULL,
  `review_notes` text,
  `reviewed_by` int unsigned DEFAULT NULL,
  `reviewed_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `camp_requests_volunteer_lookup` (`volunteer_id`,`status`,`created_at`),
  KEY `camp_requests_ngo_lookup` (`ngo_id`,`status`,`created_at`),
  CONSTRAINT `camp_requests_volunteer_fk` FOREIGN KEY (`volunteer_id`) REFERENCES `volunteers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `camp_requests`
--

LOCK TABLES `camp_requests` WRITE;
/*!40000 ALTER TABLE `camp_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `camp_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `careers`
--

DROP TABLE IF EXISTS `careers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `careers` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(180) NOT NULL,
  `department` varchar(160) DEFAULT NULL,
  `type` varchar(120) DEFAULT NULL,
  `employmentType` varchar(120) DEFAULT NULL,
  `location` varchar(180) DEFAULT NULL,
  `short_description` text,
  `description` text,
  `application_deadline` date DEFAULT NULL,
  `bannerUrl` text,
  `category` varchar(120) DEFAULT NULL,
  `apply_url` text,
  `applyLink` text,
  `featured` tinyint(1) NOT NULL DEFAULT '0',
  `active` tinyint(1) NOT NULL DEFAULT '1',
  `isActive` tinyint(1) NOT NULL DEFAULT '1',
  `display_order` int NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `slug` varchar(220) DEFAULT NULL,
  `role_type` enum('volunteer','internship','leadership','research','operations','design','it','community','other') NOT NULL DEFAULT 'volunteer',
  `requirements` text,
  `responsibilities` text,
  `image_url` text,
  `status` enum('draft','published','archived') NOT NULL DEFAULT 'published',
  `order_index` int NOT NULL DEFAULT '0',
  `visibility` enum('public','members_only','internal') NOT NULL DEFAULT 'public',
  `application_form_url` text,
  `max_positions` int DEFAULT NULL,
  `chapter` varchar(180) DEFAULT NULL,
  `certificate_enabled` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `careers_public_sort` (`active`,`featured`,`display_order`,`created_at`),
  KEY `careers_status_featured_order` (`status`,`visibility`,`featured`,`order_index`,`created_at`),
  KEY `careers_slug_lookup` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `careers`
--

LOCK TABLES `careers` WRITE;
/*!40000 ALTER TABLE `careers` DISABLE KEYS */;
/*!40000 ALTER TABLE `careers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `certificate_templates`
--

DROP TABLE IF EXISTS `certificate_templates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `certificate_templates` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(180) NOT NULL,
  `certificate_type` enum('membership','event','participation','leadership','recognition','volunteer_hours','other') NOT NULL DEFAULT 'other',
  `background_url` text,
  `logo_url` text,
  `header_text` varchar(220) DEFAULT NULL,
  `body_template` text,
  `footer_text` varchar(500) DEFAULT NULL,
  `signature_name` varchar(180) DEFAULT NULL,
  `signature_designation` varchar(180) DEFAULT NULL,
  `status` enum('draft','published','archived') NOT NULL DEFAULT 'draft',
  `is_default` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `field_config` json DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `certificate_templates_lookup` (`certificate_type`,`status`,`is_default`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `certificate_templates`
--

LOCK TABLES `certificate_templates` WRITE;
/*!40000 ALTER TABLE `certificate_templates` DISABLE KEYS */;
/*!40000 ALTER TABLE `certificate_templates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cms_entries`
--

DROP TABLE IF EXISTS `cms_entries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cms_entries` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `module` varchar(80) NOT NULL,
  `title` varchar(220) NOT NULL,
  `slug` varchar(240) NOT NULL,
  `description` text,
  `image_url` text,
  `status` enum('draft','published','archived') NOT NULL DEFAULT 'draft',
  `order_index` int NOT NULL DEFAULT '0',
  `tags_json` json DEFAULT NULL,
  `metadata_json` json DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `cms_entries_module_slug_unique` (`module`,`slug`),
  KEY `cms_entries_module_status_order` (`module`,`status`,`order_index`),
  KEY `cms_entries_updated_lookup` (`module`,`updated_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cms_entries`
--

LOCK TABLES `cms_entries` WRITE;
/*!40000 ALTER TABLE `cms_entries` DISABLE KEYS */;
/*!40000 ALTER TABLE `cms_entries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `email_logs`
--

DROP TABLE IF EXISTS `email_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `email_logs` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `template_id` int unsigned DEFAULT NULL,
  `email_type` varchar(80) NOT NULL,
  `recipient_email` varchar(180) NOT NULL,
  `recipient_type` varchar(80) DEFAULT NULL,
  `recipient_id` int unsigned DEFAULT NULL,
  `subject` varchar(255) DEFAULT NULL,
  `body` text,
  `status` enum('sent','failed','queued') NOT NULL DEFAULT 'queued',
  `error_message` text,
  `metadata_json` json DEFAULT NULL,
  `sent_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `email_logs_type_status_created` (`email_type`,`status`,`created_at`),
  KEY `email_logs_recipient_lookup` (`recipient_type`,`recipient_id`,`created_at`),
  KEY `email_logs_template_fk` (`template_id`),
  CONSTRAINT `email_logs_template_fk` FOREIGN KEY (`template_id`) REFERENCES `email_templates` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=53 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `email_logs`
--

LOCK TABLES `email_logs` WRITE;
/*!40000 ALTER TABLE `email_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `email_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `email_templates`
--

DROP TABLE IF EXISTS `email_templates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `email_templates` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(180) NOT NULL,
  `email_type` enum('membership_verified','membership_rejected','membership_under_review','certificate_issued','certificate_revoked','camp_approved','camp_rejected','ngo_verified','announcement','event_created') NOT NULL,
  `subject` varchar(255) NOT NULL,
  `body_template` text NOT NULL,
  `status` enum('draft','published','archived') NOT NULL DEFAULT 'draft',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `is_default` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `email_templates_type_status_updated` (`email_type`,`status`,`updated_at`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `email_templates`
--

LOCK TABLES `email_templates` WRITE;
/*!40000 ALTER TABLE `email_templates` DISABLE KEYS */;
/*!40000 ALTER TABLE `email_templates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `event_certificates`
--

DROP TABLE IF EXISTS `event_certificates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `event_certificates` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `event_id` int unsigned DEFAULT NULL,
  `volunteer_id` int unsigned NOT NULL,
  `certificate_type` varchar(120) NOT NULL DEFAULT 'event',
  `status` enum('eligible','claimed','revoked') NOT NULL DEFAULT 'eligible',
  `verification_code` varchar(40) NOT NULL,
  `issued_by` int unsigned DEFAULT NULL,
  `claimed_at` timestamp NULL DEFAULT NULL,
  `issued_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `event_certificates_code_unique` (`verification_code`),
  UNIQUE KEY `event_certificates_unique` (`event_id`,`volunteer_id`,`certificate_type`),
  KEY `event_certificates_volunteer_lookup` (`volunteer_id`,`status`),
  CONSTRAINT `event_certificates_event_fk` FOREIGN KEY (`event_id`) REFERENCES `events` (`id`) ON DELETE CASCADE,
  CONSTRAINT `event_certificates_volunteer_fk` FOREIGN KEY (`volunteer_id`) REFERENCES `volunteers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=81 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `event_certificates`
--

LOCK TABLES `event_certificates` WRITE;
/*!40000 ALTER TABLE `event_certificates` DISABLE KEYS */;
/*!40000 ALTER TABLE `event_certificates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `event_participants`
--

DROP TABLE IF EXISTS `event_participants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `event_participants` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `event_id` int unsigned NOT NULL,
  `volunteer_id` int unsigned NOT NULL,
  `role` varchar(140) DEFAULT NULL,
  `attendance_status` enum('registered','attended','absent') NOT NULL DEFAULT 'registered',
  `hours_contributed` decimal(6,2) NOT NULL DEFAULT '0.00',
  `added_by` int unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `joined_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `participation_status` enum('pending','approved','rejected','registered','participated','completed','cancelled') NOT NULL DEFAULT 'registered',
  `completed_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `event_participants_unique` (`event_id`,`volunteer_id`),
  KEY `event_participants_event_lookup` (`event_id`,`attendance_status`),
  KEY `event_participants_volunteer_lookup` (`volunteer_id`),
  KEY `event_participants_participation_lookup` (`event_id`,`participation_status`),
  CONSTRAINT `event_participants_event_fk` FOREIGN KEY (`event_id`) REFERENCES `events` (`id`) ON DELETE CASCADE,
  CONSTRAINT `event_participants_volunteer_fk` FOREIGN KEY (`volunteer_id`) REFERENCES `volunteers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `event_participants`
--

LOCK TABLES `event_participants` WRITE;
/*!40000 ALTER TABLE `event_participants` DISABLE KEYS */;
INSERT INTO `event_participants` VALUES (1,1,1,'Volunteer','attended',4.00,NULL,'2026-05-17 12:42:09','2026-05-19 10:33:01','participated',NULL),(2,1,2,'Volunteer','attended',4.00,NULL,'2026-05-17 12:42:09','2026-05-19 10:33:01','participated',NULL),(9,1,3,'Volunteer','attended',4.00,NULL,'2026-05-17 15:13:04','2026-05-19 10:33:01','participated',NULL),(94,14,12,'Volunteer','registered',0.00,12,'2026-05-21 10:16:45','2026-05-21 10:16:45','approved',NULL);
/*!40000 ALTER TABLE `event_participants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `events`
--

DROP TABLE IF EXISTS `events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `events` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(220) NOT NULL,
  `description` text,
  `event_type` enum('camp','workshop','awareness','conference','research','meeting','training','other') NOT NULL DEFAULT 'other',
  `event_date` date DEFAULT NULL,
  `location` varchar(220) DEFAULT NULL,
  `certificate_enabled` tinyint(1) NOT NULL DEFAULT '0',
  `certificate_template_id` varchar(120) DEFAULT NULL,
  `created_by` int unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `slug` varchar(240) DEFAULT NULL,
  `banner_url` text,
  `start_datetime` datetime DEFAULT NULL,
  `end_datetime` datetime DEFAULT NULL,
  `capacity` int DEFAULT NULL,
  `visibility` enum('public','members_only','internal') NOT NULL DEFAULT 'members_only',
  `status` enum('draft','published','upcoming','ongoing','completed','cancelled','archived') NOT NULL DEFAULT 'draft',
  `initiative_id` int unsigned DEFAULT NULL,
  `qr_enabled` tinyint(1) NOT NULL DEFAULT '0',
  `ngo_id` int unsigned DEFAULT NULL,
  `camp_request_id` int unsigned DEFAULT NULL,
  `public_registration` tinyint(1) NOT NULL DEFAULT '0',
  `feedback_enabled` tinyint(1) NOT NULL DEFAULT '0',
  `whatsapp_group_link` text,
  `registration_deadline` datetime DEFAULT NULL,
  `volunteer_instructions` text,
  `required_skills` text,
  `coordinator_contact` varchar(180) DEFAULT NULL,
  `type` varchar(50) DEFAULT NULL,
  `camp_type` varchar(100) DEFAULT NULL,
  `whatsapp_link` text,
  `max_volunteers` int DEFAULT NULL,
  `certificate_eligible` tinyint(1) NOT NULL DEFAULT '0',
  `banner` text,
  PRIMARY KEY (`id`),
  KEY `events_date_lookup` (`event_date`,`certificate_enabled`),
  KEY `events_created_by_lookup` (`created_by`),
  KEY `events_status_datetime_lookup` (`status`,`visibility`,`start_datetime`),
  KEY `events_slug_lookup` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `events`
--

LOCK TABLES `events` WRITE;
/*!40000 ALTER TABLE `events` DISABLE KEYS */;
/*!40000 ALTER TABLE `events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `id_card_templates`
--

DROP TABLE IF EXISTS `id_card_templates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `id_card_templates` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(180) NOT NULL,
  `template_type` varchar(80) NOT NULL DEFAULT 'membership',
  `front_background_url` text,
  `back_background_url` text,
  `logo_url` text,
  `header_text` varchar(220) DEFAULT NULL,
  `footer_text` varchar(500) DEFAULT NULL,
  `status` enum('draft','published','archived') NOT NULL DEFAULT 'draft',
  `is_default` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `field_config` json DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `id_card_templates_status_lookup` (`status`,`is_default`,`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `id_card_templates`
--

LOCK TABLES `id_card_templates` WRITE;
/*!40000 ALTER TABLE `id_card_templates` DISABLE KEYS */;
/*!40000 ALTER TABLE `id_card_templates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `impact_stats`
--

DROP TABLE IF EXISTS `impact_stats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `impact_stats` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `volunteers_count` int unsigned NOT NULL DEFAULT '0',
  `ngo_count` int unsigned NOT NULL DEFAULT '0',
  `events_count` int unsigned NOT NULL DEFAULT '0',
  `certificates_count` int unsigned NOT NULL DEFAULT '0',
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `impact_stats`
--

LOCK TABLES `impact_stats` WRITE;
/*!40000 ALTER TABLE `impact_stats` DISABLE KEYS */;
INSERT INTO `impact_stats` VALUES (1,7,1,14,6,'2026-05-21 10:12:09');
/*!40000 ALTER TABLE `impact_stats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `initiatives`
--

DROP TABLE IF EXISTS `initiatives`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `initiatives` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(180) NOT NULL,
  `subtitle` varchar(255) DEFAULT NULL,
  `description` text,
  `imageUrl` text,
  `bannerUrl` text,
  `category` enum('awareness','camp','research','education','advocacy','community','conference','other') NOT NULL DEFAULT 'other',
  `beneficiaries` varchar(120) DEFAULT NULL,
  `status` enum('draft','published','archived') NOT NULL DEFAULT 'published',
  `featured` tinyint(1) NOT NULL DEFAULT '0',
  `isFeatured` tinyint(1) NOT NULL DEFAULT '0',
  `slug` varchar(220) DEFAULT NULL,
  `visible` tinyint(1) NOT NULL DEFAULT '1',
  `active` tinyint(1) NOT NULL DEFAULT '1',
  `isActive` tinyint(1) NOT NULL DEFAULT '1',
  `date` date DEFAULT NULL,
  `location` varchar(180) DEFAULT NULL,
  `volunteers_needed` int DEFAULT NULL,
  `registration_open` tinyint(1) NOT NULL DEFAULT '0',
  `tags` json DEFAULT NULL,
  `display_order` int NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `short_description` text,
  `image_url` text,
  `banner_url` text,
  `visibility` enum('public','volunteers','internal') NOT NULL DEFAULT 'public',
  `order_index` int NOT NULL DEFAULT '0',
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `certificate_enabled` tinyint(1) NOT NULL DEFAULT '0',
  `event_link` text,
  `chapter` varchar(180) DEFAULT NULL,
  `impact_stats` json DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `initiatives_public_sort` (`visible`,`featured`,`display_order`,`created_at`),
  KEY `initiatives_status_featured_order` (`status`,`visibility`,`featured`,`order_index`,`created_at`),
  KEY `initiatives_slug_lookup` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `initiatives`
--

LOCK TABLES `initiatives` WRITE;
/*!40000 ALTER TABLE `initiatives` DISABLE KEYS */;
/*!40000 ALTER TABLE `initiatives` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `membership_settings`
--

DROP TABLE IF EXISTS `membership_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `membership_settings` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `payments_enabled` tinyint(1) NOT NULL DEFAULT '0',
  `membership_fee` decimal(10,2) NOT NULL DEFAULT '0.00',
  `upi_qr_url` text,
  `instructions` text,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `currency` varchar(10) NOT NULL DEFAULT 'INR',
  `payment_instructions` text,
  `membership_name` varchar(180) NOT NULL DEFAULT 'Free Membership',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `plan_duration` int DEFAULT NULL,
  `renewal_fee` decimal(10,2) DEFAULT NULL,
  `expiry_date` date DEFAULT NULL,
  `chapter_pricing` json DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `membership_settings`
--

LOCK TABLES `membership_settings` WRITE;
/*!40000 ALTER TABLE `membership_settings` DISABLE KEYS */;
INSERT INTO `membership_settings` VALUES (1,0,0.00,NULL,'Memberships are currently free.','2026-05-19 10:32:58','INR','Memberships are currently free.','Free Membership',1,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `membership_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mentors`
--

DROP TABLE IF EXISTS `mentors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mentors` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(180) NOT NULL,
  `role` varchar(180) DEFAULT NULL,
  `designation` varchar(180) DEFAULT NULL,
  `organization` varchar(180) DEFAULT NULL,
  `bio` text,
  `imageUrl` text,
  `linkedin` text,
  `category` varchar(120) DEFAULT NULL,
  `featured` tinyint(1) NOT NULL DEFAULT '0',
  `visible` tinyint(1) NOT NULL DEFAULT '1',
  `isActive` tinyint(1) NOT NULL DEFAULT '1',
  `display_order` int NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `full_name` varchar(180) DEFAULT NULL,
  `chapter` varchar(180) DEFAULT NULL,
  `region` varchar(180) DEFAULT NULL,
  `mentorship_type` varchar(180) DEFAULT NULL,
  `specialization` varchar(180) DEFAULT NULL,
  `image_url` text,
  `linkedin_url` text,
  `instagram_url` text,
  `instagram` text,
  `email` varchar(180) DEFAULT NULL,
  `status` enum('draft','published','archived') NOT NULL DEFAULT 'published',
  `order_index` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `mentors_public_sort` (`visible`,`featured`,`display_order`,`created_at`),
  KEY `mentors_status_featured_order` (`status`,`featured`,`order_index`,`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mentors`
--

LOCK TABLES `mentors` WRITE;
/*!40000 ALTER TABLE `mentors` DISABLE KEYS */;
/*!40000 ALTER TABLE `mentors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ngo_notifications`
--

DROP TABLE IF EXISTS `ngo_notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ngo_notifications` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `ngo_id` int unsigned NOT NULL,
  `title` varchar(220) NOT NULL,
  `message` text NOT NULL,
  `notification_type` varchar(80) NOT NULL DEFAULT 'camp_request',
  `read_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `ngo_notifications_lookup` (`ngo_id`,`read_at`,`created_at`),
  CONSTRAINT `ngo_notifications_ngo_fk` FOREIGN KEY (`ngo_id`) REFERENCES `ngos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ngo_notifications`
--

LOCK TABLES `ngo_notifications` WRITE;
/*!40000 ALTER TABLE `ngo_notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `ngo_notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ngos`
--

DROP TABLE IF EXISTS `ngos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ngos` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `organization_name` varchar(220) NOT NULL,
  `registration_number` varchar(180) NOT NULL,
  `ngo_type` enum('healthcare','education','community','research','environment','other') NOT NULL DEFAULT 'other',
  `email` varchar(180) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `phone` varchar(40) NOT NULL,
  `website` text,
  `city` varchar(120) NOT NULL,
  `state` varchar(120) DEFAULT NULL,
  `address` text,
  `mission` text,
  `description` text,
  `logo_url` text,
  `cover_url` text,
  `membership_status` enum('under_review','verified','rejected','suspended') NOT NULL DEFAULT 'under_review',
  `payment_status` enum('free','pending','paid','failed') NOT NULL DEFAULT 'free',
  `transaction_id` varchar(255) NOT NULL DEFAULT 'FREE',
  `verified_by` int unsigned DEFAULT NULL,
  `verified_at` timestamp NULL DEFAULT NULL,
  `chapter` varchar(180) DEFAULT NULL,
  `partner_level` varchar(120) DEFAULT NULL,
  `certificate_enabled` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ngos_email_unique` (`email`),
  UNIQUE KEY `ngos_registration_unique` (`registration_number`),
  KEY `ngos_status_lookup` (`membership_status`,`payment_status`,`created_at`),
  KEY `ngos_city_lookup` (`city`,`state`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ngos`
--

LOCK TABLES `ngos` WRITE;
/*!40000 ALTER TABLE `ngos` DISABLE KEYS */;
INSERT INTO `ngos` VALUES (1,'Maai Demo Partner NGO','DEMO-NGO-001','healthcare','demo.ngo@maai.org','$2a$10$kZCB4RdujMOtfb67kQwa8urshyxMnnYcBIrO8TS9g8N04arwTW6I6','+910000000000','https://maai.example.org','Delhi','Delhi','Demo address','Community health collaboration.','Verified demo NGO partner for Maai workflows.','https://placehold.co/600x600?text=NGO','https://placehold.co/1200x500?text=Maai+NGO','verified','free','FREE',NULL,'2026-05-19 10:32:58',NULL,NULL,0,'2026-05-19 10:32:58','2026-05-19 10:32:58');
/*!40000 ALTER TABLE `ngos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `recipient_type` enum('volunteer','ngo','it_staff','superadmin') NOT NULL,
  `recipient_id` int unsigned NOT NULL,
  `title` varchar(220) NOT NULL,
  `message` text NOT NULL,
  `notification_type` enum('membership','certificate','camp_request','event','ngo','announcement','system') NOT NULL DEFAULT 'system',
  `status` enum('unread','read','archived') NOT NULL DEFAULT 'unread',
  `action_url` text,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `read_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `notifications_recipient_status` (`recipient_type`,`recipient_id`,`status`,`created_at`),
  KEY `notifications_type_lookup` (`notification_type`,`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=63 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reels`
--

DROP TABLE IF EXISTS `reels`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reels` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(180) NOT NULL,
  `description` text,
  `thumbnailUrl` text,
  `videoUrl` text,
  `location` varchar(180) DEFAULT NULL,
  `eventName` varchar(180) DEFAULT NULL,
  `upload_date` timestamp NULL DEFAULT NULL,
  `featured` tinyint(1) NOT NULL DEFAULT '0',
  `active` tinyint(1) NOT NULL DEFAULT '1',
  `category` varchar(120) DEFAULT NULL,
  `display_order` int NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `slug` varchar(220) DEFAULT NULL,
  `platform` enum('instagram','youtube','external') NOT NULL DEFAULT 'external',
  `caption` text,
  `thumbnail_url` text,
  `video_url` text,
  `initiative_id` int unsigned DEFAULT NULL,
  `status` enum('draft','published','archived') NOT NULL DEFAULT 'published',
  `published_at` timestamp NULL DEFAULT NULL,
  `order_index` int NOT NULL DEFAULT '0',
  `views` int NOT NULL DEFAULT '0',
  `likes` int NOT NULL DEFAULT '0',
  `engagement` decimal(10,2) NOT NULL DEFAULT '0.00',
  `chapter` varchar(180) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `reels_public_sort` (`active`,`featured`,`display_order`,`upload_date`,`created_at`),
  KEY `reels_status_featured_order` (`status`,`featured`,`order_index`,`published_at`,`created_at`),
  KEY `reels_initiative_lookup` (`initiative_id`,`status`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reels`
--

LOCK TABLES `reels` WRITE;
/*!40000 ALTER TABLE `reels` DISABLE KEYS */;
/*!40000 ALTER TABLE `reels` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `social_links`
--

DROP TABLE IF EXISTS `social_links`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `social_links` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `platform` enum('instagram','linkedin','youtube','twitter','facebook','website','whatsapp','telegram','discord') NOT NULL,
  `url` text NOT NULL,
  `icon` varchar(80) NOT NULL,
  `status` enum('draft','published','archived') NOT NULL DEFAULT 'published',
  `order_index` int NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `social_links_platform_unique` (`platform`),
  KEY `social_links_status_order` (`status`,`order_index`,`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=71 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `social_links`
--

LOCK TABLES `social_links` WRITE;
/*!40000 ALTER TABLE `social_links` DISABLE KEYS */;
INSERT INTO `social_links` VALUES (1,'instagram','https://www.instagram.com/maai.cares','instagram','published',1,'2026-05-18 04:30:55','2026-05-18 04:30:55'),(2,'linkedin','https://www.linkedin.com/company/maai-cares','linkedin','published',2,'2026-05-18 04:30:55','2026-05-18 04:30:55'),(3,'youtube','https://www.youtube.com/@Maai.organisation','youtube','published',3,'2026-05-18 04:30:55','2026-05-18 04:30:55');
/*!40000 ALTER TABLE `social_links` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `socials`
--

DROP TABLE IF EXISTS `socials`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `socials` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `platform` varchar(120) NOT NULL,
  `handle` varchar(180) DEFAULT NULL,
  `url` text,
  `iconUrl` text,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `isActive` tinyint(1) NOT NULL DEFAULT '1',
  `display_order` int NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `socials_public_sort` (`is_active`,`display_order`,`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `socials`
--

LOCK TABLES `socials` WRITE;
/*!40000 ALTER TABLE `socials` DISABLE KEYS */;
/*!40000 ALTER TABLE `socials` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `team`
--

DROP TABLE IF EXISTS `team`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `team` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(180) NOT NULL,
  `role` varchar(180) DEFAULT NULL,
  `bio` text,
  `imageUrl` text,
  `linkedin` text,
  `email` varchar(180) DEFAULT NULL,
  `isActive` tinyint(1) NOT NULL DEFAULT '1',
  `createdAt` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updatedAt` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `team_active_sort` (`isActive`,`createdAt`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `team`
--

LOCK TABLES `team` WRITE;
/*!40000 ALTER TABLE `team` DISABLE KEYS */;
/*!40000 ALTER TABLE `team` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `team_members`
--

DROP TABLE IF EXISTS `team_members`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `team_members` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(180) NOT NULL,
  `role` varchar(180) DEFAULT NULL,
  `designation` varchar(180) DEFAULT NULL,
  `department` varchar(160) DEFAULT NULL,
  `imageUrl` text,
  `bio` text,
  `linkedin` text,
  `email` varchar(180) DEFAULT NULL,
  `instagram` text,
  `priority` int NOT NULL DEFAULT '0',
  `featured` tinyint(1) NOT NULL DEFAULT '0',
  `active` tinyint(1) NOT NULL DEFAULT '1',
  `isActive` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `full_name` varchar(180) DEFAULT NULL,
  `chapter` varchar(180) DEFAULT NULL,
  `state` varchar(120) DEFAULT NULL,
  `image_url` text,
  `linkedin_url` text,
  `instagram_url` text,
  `status` enum('draft','published','archived') NOT NULL DEFAULT 'published',
  `order_index` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `team_public_sort` (`active`,`featured`,`priority`,`created_at`),
  KEY `team_members_status_order` (`status`,`department`,`order_index`,`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `team_members`
--

LOCK TABLES `team_members` WRITE;
/*!40000 ALTER TABLE `team_members` DISABLE KEYS */;
/*!40000 ALTER TABLE `team_members` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `testimonials`
--

DROP TABLE IF EXISTS `testimonials`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `testimonials` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(180) NOT NULL,
  `role` varchar(180) DEFAULT NULL,
  `organization` varchar(180) DEFAULT NULL,
  `quote` text NOT NULL,
  `imageUrl` text,
  `featured` tinyint(1) NOT NULL DEFAULT '0',
  `active` tinyint(1) NOT NULL DEFAULT '1',
  `isActive` tinyint(1) NOT NULL DEFAULT '1',
  `rating` int DEFAULT NULL,
  `display_order` int NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `full_name` varchar(180) DEFAULT NULL,
  `designation` varchar(180) DEFAULT NULL,
  `testimonial` text,
  `image_url` text,
  `category` enum('volunteer','mentor','ngo','partner','beneficiary','speaker','other') NOT NULL DEFAULT 'other',
  `status` enum('draft','published','archived') NOT NULL DEFAULT 'published',
  `order_index` int NOT NULL DEFAULT '0',
  `event_id` int unsigned DEFAULT NULL,
  `initiative_id` int unsigned DEFAULT NULL,
  `chapter` varchar(180) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `testimonials_public_sort` (`active`,`featured`,`display_order`,`created_at`),
  KEY `testimonials_status_featured_order` (`status`,`category`,`featured`,`order_index`,`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `testimonials`
--

LOCK TABLES `testimonials` WRITE;
/*!40000 ALTER TABLE `testimonials` DISABLE KEYS */;
/*!40000 ALTER TABLE `testimonials` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `fullName` varchar(180) NOT NULL,
  `email` varchar(180) NOT NULL,
  `passwordHash` varchar(255) NOT NULL,
  `accountType` varchar(80) NOT NULL DEFAULT 'volunteer',
  `role` varchar(80) NOT NULL DEFAULT 'member',
  `status` enum('pending','active','suspended','rejected') NOT NULL DEFAULT 'pending',
  `createdAt` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updatedAt` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`),
  KEY `users_auth_lookup` (`email`,`accountType`,`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `volunteer_ids`
--

DROP TABLE IF EXISTS `volunteer_ids`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `volunteer_ids` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `volunteer_id` int unsigned NOT NULL,
  `template_id` int unsigned NOT NULL,
  `membership_number` varchar(40) NOT NULL,
  `verification_code` varchar(40) NOT NULL,
  `issued_at` timestamp NULL DEFAULT NULL,
  `status` enum('active','expired','revoked') NOT NULL DEFAULT 'active',
  `photo_url` text,
  `blood_group` varchar(20) DEFAULT NULL,
  `emergency_contact` varchar(80) DEFAULT NULL,
  `chapter` varchar(180) DEFAULT NULL,
  `state` varchar(120) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `volunteer_ids_volunteer_unique` (`volunteer_id`),
  UNIQUE KEY `volunteer_ids_membership_unique` (`membership_number`),
  UNIQUE KEY `volunteer_ids_code_unique` (`verification_code`),
  KEY `volunteer_ids_status_lookup` (`status`,`issued_at`),
  KEY `volunteer_ids_template_fk` (`template_id`),
  CONSTRAINT `volunteer_ids_template_fk` FOREIGN KEY (`template_id`) REFERENCES `id_card_templates` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `volunteer_ids_volunteer_fk` FOREIGN KEY (`volunteer_id`) REFERENCES `volunteers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `volunteer_ids`
--

LOCK TABLES `volunteer_ids` WRITE;
/*!40000 ALTER TABLE `volunteer_ids` DISABLE KEYS */;
/*!40000 ALTER TABLE `volunteer_ids` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `volunteer_profiles`
--

DROP TABLE IF EXISTS `volunteer_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `volunteer_profiles` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `userId` int unsigned NOT NULL,
  `phone` varchar(40) NOT NULL,
  `college` varchar(180) DEFAULT NULL,
  `course` varchar(180) DEFAULT NULL,
  `year` varchar(80) DEFAULT NULL,
  `city` varchar(120) NOT NULL,
  `skills` text,
  `interests` text,
  `availability` varchar(220) DEFAULT NULL,
  `bio` text,
  `linkedin` text,
  `instagram` text,
  `createdAt` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updatedAt` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `volunteer_profiles_user_unique` (`userId`),
  KEY `volunteer_profiles_city_lookup` (`city`),
  CONSTRAINT `volunteer_profiles_user_fk` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `volunteer_profiles`
--

LOCK TABLES `volunteer_profiles` WRITE;
/*!40000 ALTER TABLE `volunteer_profiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `volunteer_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `volunteers`
--

DROP TABLE IF EXISTS `volunteers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `volunteers` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `full_name` varchar(180) NOT NULL,
  `email` varchar(180) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `phone` varchar(40) NOT NULL,
  `city` varchar(120) NOT NULL,
  `college` varchar(180) DEFAULT NULL,
  `course` varchar(180) DEFAULT NULL,
  `academic_year` varchar(80) DEFAULT NULL,
  `skills` text,
  `interests` text,
  `availability` varchar(220) DEFAULT NULL,
  `bio` text,
  `linkedin_url` text,
  `instagram_url` text,
  `role` enum('volunteer','it_staff','superadmin') NOT NULL DEFAULT 'volunteer',
  `status` enum('pending','approved','rejected','suspended') NOT NULL DEFAULT 'pending',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `approval_status` enum('pending','approved','rejected','suspended') NOT NULL DEFAULT 'pending',
  `membership_status` enum('under_review','verified','rejected') DEFAULT 'under_review',
  `transaction_id` varchar(255) DEFAULT 'FREE',
  `payment_status` enum('free','pending','paid','failed') DEFAULT 'free',
  `verified_by` int DEFAULT NULL,
  `verified_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `volunteers_email_unique` (`email`),
  KEY `volunteers_role_status_lookup` (`role`,`status`),
  KEY `volunteers_city_lookup` (`city`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `volunteers`
--

LOCK TABLES `volunteers` WRITE;
/*!40000 ALTER TABLE `volunteers` DISABLE KEYS */;
/*!40000 ALTER TABLE `volunteers` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-21 17:29:45
